<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css" />
  <script src="index.js" async></script>
  <title><%= appName %></title>
</head>

<body>
  <main>
    <div class="sticky-container">
      <nav>
        <div class="logo"><%= appName %></div>
        <div class="nav-btns-container">
          <a href="/log-out" class="log-out-btn">Log out</a>
          <span class="breadcrumb"><a href="/">My Drive</a><span class="arrow-spacer">⟩</span><span><%= folderName %></span></span>
          <form action="/save-file" method="post" enctype="multipart/form-data">
            <label class="upload-btn" for="file-input">Upload file</label>
            <input type="file" id="file-input" name="user-file" onchange="form.submit()">
          </form>
        </div>
      </nav>
      <div class="head row">
        <span>Name</span>
        <span>Modified</span>
        <span>File size</span>
        <span></span>
      </div>
    </div>
    <article>

    </article>
  </main>
</body>

</html>