<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/form.css" />
  <link rel="stylesheet" href="/index.css" />
  <title><%= appName %></title>
</head>

<body>
  <main>
    <%- include("partials/nav-registration-pages") %>
    <article>
      <h1>Log in</h1>
      <% if (errMsg) {%>
      <ul class="error-list">
        <% errMsg.forEach(function(msg) { %>
        <li><%= msg %></li>
        <% }) %>
      </ul>
      <% } %>
      <form action="/log-in" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Log in</button>
      </form>
    </article>
  </main>
</body>

</html>