@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap");

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  margin: 0;
  background-color: #17181c;
  color: #fff;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  width: 47vw;
  min-height: 100vh;
  background-color: #333;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.sticky-container {
  background-color: rgba(51, 51, 51, 0.8);
  backdrop-filter: blur(7px);
  position: sticky;
  top: 0;
}

nav {
  padding-block: 13px 33px;
  padding-inline: 31px;
  border-bottom: 1px solid rgb(113, 118, 123);
  text-align: center;
  user-select: none;
}

.registration-pages-nav {
  padding: 29px 31px;
}

.logo {
  margin-bottom: 7px;
  font-family: "Edu AU VIC WA NT Dots", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
}

.nav-btns-container {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.log-out-btn,
.new-folder-btn,
.upload-btn {
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: bold;
  padding: 6px 24px;
  border-radius: 25px;
}

nav form {
  display: flex;
}

.log-in-btn,
.log-out-btn,
.new-folder-btn {
  border: 1px solid #42bb67;
  color: #42bb67;
  cursor: pointer;
}

.sign-up-btn,
.upload-btn {
  border: 1px solid #42bb67;
  background-color: #42bb67;
  color: #333;
  cursor: pointer;
}

#file-input {
  opacity: 0;
  width: 0;
}

.row {
  display: grid;
  grid-template-columns: 40% repeat(2, 1fr) 20%;
  align-items: center;
  border-bottom: 1px solid rgb(113, 118, 123);
  padding: 17px 31px;
  line-height: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.head.row {
  font-weight: 600;
}

.name-cell,
.delshare-cell {
  display: flex;
  gap: 10px;
}

.row-options-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(113, 118, 123);
  cursor: pointer;
}

.row-options-modal {
  display: none;
  background-color: blue;
  width: 150px;
  height: 300px;
  position: absolute;
  right: -50px;
  z-index: 5000;
}

.show-row-options-modal {
  display: inline;
}

.delshare-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 25px;
  border: 1px solid rgb(113, 118, 123);
  background-color: transparent;
  color: rgb(113, 118, 123);
  cursor: pointer;
}

.row__del-btn:hover {
  border: 1px solid #e25851;
  color: #e25851;
}

.row__download-btn:hover {
  border: 1px solid #51e288;
  color: #51e288;
}

.row__share-btn:hover {
  border: 1px solid #51cae2;
  color: #51cae2;
}

.error-list {
  color: #e25851;
}

#create-folder-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.37);
}

#create-folder-modal form {
  padding: 0 24px 24px;
  border-radius: 5px;
  width: 30vw;
  background-color: #333;
}

#create-folder-modal h2 {
  font-weight: lighter;
}

#create-folder-modal input {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-block: 8px;
  padding: 12px 20px;
  width: 100%;
  font-size: 1.1rem;
}

#create-folder-modal button {
  display: inline-block;
  border: none;
  border-radius: 25px;
  margin-top: 8px;
  padding: 14px 20px;
  font-size: 1.1rem;
  color: #42bb67;
  border: 1px solid #42bb67;
  background-color: #333;
  cursor: pointer;
}

#create-folder-modal button:hover {
  color: #333;
  background-color: rgba(66, 187, 103, 0.3);
}
